body {
	padding: 0%;
	margin: 0%;
	height: 100%;
	width: 100%;
	background: url("fond.png") fixed no-repeat;
}
header {
	background-color: white;
	height: 60px;
	border: black;
	box-shadow: 0px 0px 5px inset;
	padding: 0px;
}
header h1 {
	display: inline-block;
	margin: 0px;
	height: 100%;
	width: 20%;
	text-align: center;
	padding-top: 10px;
	color: black;
}
header nav {
	display: inline-block;
	width: 75%;
	text-align: right;
	margin: 0%;
	border-radius: 3px;
	padding-top: 10px;
	padding-right: 30px;
}
header nav ul {
	margin: 0px;
	padding: 0px;
	height: 100%;
}
header nav ul li {
	padding: 3px;
	display: inline-block;
}
header nav ul li a {
	color: black;
	text-decoration: underline;
	font-size: 20px;
}
form p {
	font-size: 30px;
}
p {
	text-align: center;
}
#mail {
	color: white;
	text-decoration: underline;
}